body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-nav{
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

h2 {
  color: #6441A5;
}
.btn-new-color{
  background: #6441A5; /* fallback for old browsers */
  color: #ffffff;
  transition: .5s;
}
.btn-new-color:hover{
  color:#fbfbfb;
}

.tabel-bg{
  background: #ffffff;
  
}

.thead-bg{
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;  
}
.btn-delete{
  background: #6441A5;   /* fallback for old browsers */
  color: #ffffff;
}
.btn-more{
  color: #6ab04c; 
  border:#6ab04c 1px solid;
  font-size: 10px;
}

.btn-success{
  background: #6441A5;
  float: none;
  margin: 0 auto;
}

.centerCaja{
  color: #000000;
}
.centerCaja>h2{
  text-align: center;
  color: #000000;
}
label{
  color:#333333;
}
@media (min-width:500px ) {
  .btn-new{
    justify-content: flex-end;
  }
 
  .centerCaja {
    position:relative;
    left:17%;
  }
  .centerCaja>h2{
    text-align: left;
    color: #000000;
  }
}